
.blue-gradient-body {
    background: linear-gradient(to bottom,#e6f0ff ,#ffffff);
    min-height: 100vh;
    padding : 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-connexion {
    background-color: white;
    border-radius: 20px;
    padding: 2rem 3rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    max-width: 400px;
    text-align: center;
}

.icon-ball {
    width: 80px;
    margin-bottom: 1rem;
}

.fancy-label {
    display: block;
    font-family: var(--font-cursive);
    font-size: 1.3rem;
    margin: 1rem 0 0.3rem;
    text-align: left;
}
