* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  background: url("../assets/space-bg.jpg") center/cover no-repeat;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  padding: 1rem;
}
#btnClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(255,255,255,0.2);
  border: none;
  font-size: 2rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
}

#btnClose:hover {
  transform: rotate(10deg) scale(1.1);
}

main {
  flex: 1;
  text-align: center;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.4);
}

#predictions h2 {
  font-family: var(--font-serif);
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #222;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.7);
}

#predictions {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1.5rem;
}

#predictions > div {
  background: white;
  border: 3px solid rgba(45,67,119,1.0);
  border-radius: 1rem;
  width: 220px;
  max-width: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#predictions > div > div {
  flex: 1;
  font-family: var(--font-serif);
  font-size: 1rem;
  line-height: 1.4;
  text-align: center;
  padding: 0.5rem;
  background: rgba(255,255,255,0.7);
  border-radius: 0.75rem;
  color: #000;
  overflow-y: auto;
}

#predictions {
  perspective: 800px;
}

#predictions > div {
  position: relative;
  transform-origin: bottom center;
  transition: transform 0.3s ease;
}

/* Cartes Prédiction*/
#cardAmour {
  transform: translateX(60px) rotate(-10deg) translateX(-20px);
  z-index: 1;
}

#cardSante {
  transform: rotate(0deg) scale(1.05);
  z-index: 2; /* doit être au-dessus des autres */
}

#cardTravail {
  transform: translateX(-60px) rotate(10deg) translateX(20px);
  z-index: 1;
}

#predictions > div:hover {
  transform: rotate(0deg) scale(1.1);
  z-index: 3;
}

#error {
  margin-top: 1.5rem;
  font-size: 1rem;
}