h1 {
  font-family: var(--font-heading);
  font-size: 3rem;
  margin: 2rem 0 1.5rem;
}

table {
  border-collapse: collapse;
}
table th,
table td {
  border: none;
  padding: 0.5rem 1rem;
  vertical-align: middle;
}

table th label {
  font-family: var(--font-heading);
  font-size: 1.5rem;
}

p {
  padding: 0.5rem 0;
  font-family: var(--font-sans);
  font-size: 0.95rem;
}
p a {
  color: #0077cc;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}